<div class="user-panel">
  <div class="pull-left image">
    <img src="assets/img/FNBRStats.png" class="img-circle" alt="Logo @FNBRStats">
  </div>
  <div class="pull-left info">
    <p>@FNBRStats - Bot</p>
    <a href="https://twitter.com/FNBRStats" target="_blanck"><i class="fa fa-circle text-offline"></i> Online</a>
  </div>
</div>
<!-- <form action="#" method="get" class="sidebar-form">
  <div class="input-group">
    <input type="text" name="q" class="form-control" placeholder="Search...">
    <span class="input-group-btn">
      <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
      </button>
    </span>
  </div>
</form> -->
