<div class="row">
  <section class="col-lg-6 connectedSortable">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs pull-right">
        <li class="pull-left header"><i class="fa fa-twitter"></i> Last tweet of @FNBRStats</li>
      </ul>
      <div class="tab-content no-padding">
        <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 600px;"></div>
      </div>
    </div>
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs pull-right">
        <li class="pull-left header"><i class="fa fa-twitter"></i> Post tweet with @FNBRStats</li>
      </ul>
      <div class="tab-content no-padding">
        <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 344px;"></div>
      </div>
    </div>
  </section>
  <section class="col-lg-6 connectedSortable">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs pull-right">
        <li class="pull-left header"><i class="fa fa-twitter"></i> Last tweets with #FortniteStats</li>
      </ul>
      <div class="tab-content no-padding">
        <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 1000px;"></div>
      </div>
    </div>
  </section>
</div>
