<section class="content no_padding">
  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>{{accountStats.followers_count}}</h3>
          <p class="text_stats">Followers</p>
        </div>
        <div class="icon">
          <i class="ion-social-twitter"></i>
        </div>
        <div class="small-box-footer"><i class="fa fa-twitter"></i></div>
      </div>
    </div>
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>{{accountStats.friends_count}}</h3>
          <p class="text_stats">Followed</p>
        </div>
        <div class="icon">
          <i class="ion-social-twitter"></i>
        </div>
        <div class="small-box-footer"><i class="fa fa-twitter"></i></div>
      </div>
    </div>
  </div>
</section>